.SearchBar {
  width: 100%;
  height: 50px;
  display: flex;
}

.imgSearchBox {
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gray-light);
  animation: displayBox 1s linear forwards;

  cursor: pointer;
  transition: 1s ease;
}

.imgSearchBox:hover {
  background: var(--yellow-sun);
}

img[alt='search'] {
  width: 30px;
}

.SearchInput {
  flex-grow: 1;

  margin-right: 10px;
  padding: 15px;
  background: var(--gray-light);

  border: none;
  font-size: 25px;
  animation: displayBox 1s linear forwards;
}

.SearchInput:active,
.SearchInput:focus {
  outline: none;
  padding-left: 10px;
  border: var(--yellow-sun) 5px solid;
}
